org.jabylon.properties/src/main/resources/jabylon_xliff_1.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ====================================================================== -->
<!-- Date   : 2016-02-03                                                    -->
<!-- File   : jabylon_xliff_1.2.xsd                                         -->
<!-- Author : Samulski                                                      -->
<!-- Note: This is a subset of the Xliff 1.2 Specification:                 -->
<!-- http://docs.oasis-open.org/xliff/v1.2/cs02/xliff-core-1.2-strict.xsd   -->
<!-- ====================================================================== -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:xliff:document:1.2"  xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Import: Required for xml:lang -->
	<xs:import schemaLocation="http://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>

	<!-- SimpleTyle "TranslationString" defines the max length for a translation string -->
	<xs:simpleType name="TranslationString">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4096" />
		</xs:restriction>
	</xs:simpleType>

	<!-- ComplexType "TranslationStringWithLanguage" conflates the length restriction with the xml:lang attribute -->
	<xs:complexType name="TranslationStringWithLanguage">
		<xs:simpleContent>
			<xs:extension base="TranslationString">
				<xs:attribute ref="xml:lang"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- SimpleTyle "LanguageAttribute" defines restrictions for language attributes -->
	<xs:simpleType name="LanguageAttribute">
		<xs:restriction base="xs:string">
			<xs:minLength value="2" />
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<!-- SimpleTyle "NlsKey" defines restrictions for the NLS keys (id attributes) -->
	<xs:simpleType name="NlsKey">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1024" />
		</xs:restriction>
	</xs:simpleType>

	<!-- ComplexType "header" is optional for our schema and will not be exported. -->
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="skl" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="external-file" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute type="xs:string" name="uid" use="optional"/>
										<xs:attribute type="xs:string" name="href" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Our Root element. "xliff"-->
	<xs:element name="xliff">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="file">
					<xs:complexType>
						<xs:sequence>
							<!-- Element: "header" is optional and will not be exported. -->
							<xs:element name="header" type="Header" minOccurs="0" maxOccurs="1" />
							<!-- Element: "body" the main element containing translation information. -->
							<xs:element name="body" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="trans-unit" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<!-- Element: "source" the source translation. -->
													<xs:element name="source" type="TranslationStringWithLanguage" minOccurs="1" maxOccurs="1" />
													<!-- Element: "target" the target translation. -->
													<xs:element name="target" type="TranslationStringWithLanguage" minOccurs="1" maxOccurs="1" />
												</xs:sequence>
												<!-- Attribute: "id" holds the NLSKey -->
												<xs:attribute name="id" type="NlsKey" use="required"/>
												<!-- Attribute: "maxbytes" is optional and will not be exported -->
												<xs:attribute type="xs:short" name="maxbytes" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<!-- Attribute: "datatype" is optional and will not be exported. -->
						<xs:attribute type="xs:string" name="datatype" use="optional"/>
						<!-- Attribute: SourceLanguage -->
						<xs:attribute name="source-language" type="LanguageAttribute" use="required" />
						<!-- Attribute: TargetLanguage-->
						<xs:attribute name="target-language" type="LanguageAttribute" use="required" />
						<!-- Attribute: "original" is optional and will not be exported. -->
						<xs:attribute type="xs:string" name="original" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<!-- Attribute: "version" is optional and will be exported with a fixed value of 1.2. -->
			<xs:attribute type="xs:string" name="version" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>